<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style>
		body{
			overflow-x:hidden;
		}
	</style>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script type="text/javascript"> var userName;</script>
</head>
<body class="bg-light">
	<div ng-app="myApp" ng-controller="myCtrl">
		<p id="getuname"> {{uname}} </p>
	<div id="replaceOnLogin">
		<div class="col-sm-12 h-100 d-flex flex-column">
			<a href="https://iith.ac.in/">
				<div class="row bg-dark">
					<img src="center.png" class="mx-auto d-block" height="20%" width="20%" alt="IITH logo">		
				</div>
			</a>
			<div class="row justify-content-center flex-grow-1 align-items-center">
				<div class="container rounded bg-dark text-light">
					<div class="text-center">
						<p style="font-size: 200%; font-weight: 50"> TA Management System </p>
					</div>
					<!-- ADD form action (back-end) -->
					<form action="localhost:8080/studentPortal" method="post" class="needs-validation" novalidate>
					    <div class="input-group mb-3">
					        <div class="input-group-prepend">
						    	<span class="input-group-text">Username</span>
						    </div>
					        <input type="text" class="form-control" id="uname" placeholder="" name="uname" required ng-model="uname">
					        <div class="valid-feedback"></div>
					        <div class="invalid-feedback">Required</div>
					    </div>
					    <div class="input-group mb-3">
					        <div class="input-group-prepend">
						    	<span class="input-group-text">Password</span>
						    </div>
					        <input type="password" class="form-control" id="pwd" placeholder="" name="pswd" required ng-model="pswd">
					        <div class="valid-feedback"></div>
					        <div class="invalid-feedback">Required</div>
					    </div>
					    <div class="text-center">
					    	<button type="submit" class="btn btn-primary" ng-click="loadStudentPortal()">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	</div>
<script>
// Disable form submissions if there are invalid fields
(function() {
  	'use strict';
  	window.addEventListener('load', function() {
	// Get the forms we want to add validation styles to
	var forms = document.getElementsByClassName('needs-validation');
	// Loop over them and prevent submission
	var validation = Array.prototype.filter.call(forms, function(form) {
		form.addEventListener('submit', function(event) {
			if (form.checkValidity() === false) {
		  		event.preventDefault();
		  		event.stopPropagation();
			}
			form.classList.add('was-validated');
	  	}, false);
	});
  	}, false);
})();
</script>

<script>
	var app = angular.module('myApp', []);
	app.controller('myCtrl', function($scope, $http) {
		var userName = $scope.uname;
		var password = $scope.pswd;
		$scope.loadStudentPortal = function(){
			var data = {uname: userName, pswd: password};
			data = JSON.stringify(data);
			$http.post("http://localhost:8080/studentPortal",data).then(function(response){
				document.getElementById('replaceOnLogin').innerHTML = response.data;
			});
		}
		//userName = document.getElementById('getuname').innerHTML;
		//document.getElementById('update_username').innerHTML = userName;
	});
</script>

</body>
</html>