<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style>
		body, html {height: 100%}
		.bgimg {
			background-image: url('bgimg.jpg');
			min-height: 100%;
			background-position: center;
			background-size: cover;
		}
	</style>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

</head>
<body>
	<div class="bgimg col-sm-12 h-100 d-flex flex-column">
		<div class="container-fluid text-light text-center" style="background: rgb(1,1,1,0)">
			<span style="font-size: 200%; font-weight:50;"> <!--<span id ="update_username">User-name! </span>--> Student Preferences Form </span>
			<a href ="http://localhost:8080/"><button class="btn btn-warning float-right" style="margin-top: 10px">Logout</button></a>
		</div>

		<div class="row justify-content-center flex-grow-1 align-items-center">
			<div class="container rounded text-light" style="background: rgb(1,1,1,0.6)">
				<form action="http://localhost:8080/studentSubmit" method="post" style="margin-top: 10px">
					<div class="form-group">
						<!-- Assuming roll number matches username for students just like AIMS -->
						<label for="uname">Roll Number:</label>
						<input type="text" class="form-control" placeholder="Enter Roll No." name="uname">
					</div>
					<div class="form-group">
						<label for="CGPA">CGPA:</label>
						<input type="text" class="form-control" placeholder="Enter CGPA" name="cgpa">
					</div>
					<!--<div class="form-group">
						<label for="Preferences">Enter Preferences (space separated, DESC ORDER of preference):</label>
						<textarea class="form-control" rows="3" name="pref"></textarea>
					</div>-->

					<!------------------------------->
					<div ng-app ="myApp" ng-controller="namesCtrl">
						<div class="form-group">
							<label for="Preferences">Enter Preferences (space separated, DESC ORDER of preference):</label>
							<textarea id="pref" class="form-control" rows="3" name="pref" ng-model="value" readonly="readonly"></textarea>
							<a href = "#" style="margin-top:10px " class = "btn btn-warning" ng-click="clearPref()">Clear Preferences...</a>
						</div>
						<div class = "form-group">
							<div class="input-group mb-3">
						        <div class="input-group-prepend">
							    	<span class="input-group-text">Search</span>
							    </div>
						        <input type="text" class="form-control" id="search" placeholder="Search your courses here" name="search" ng-model="test">
						    </div>
						    <ul style="list-style-type:none;">
								<li ng-click="addPref(x)" ng-repeat="x in names | filter : test">
									<a href="#" style="color:sandybrown">{{ x }}</a>
								</li>
							</ul>
						</div>
					</div>
					<!------------------------------->
					<button type="submit" class="btn btn-warning">Submit</button>
				</form>
			</div>
		</div>
	</div>
<!------------------------------->
<script>
angular.module('myApp', []).controller('namesCtrl', function($scope) {
    $scope.names = ####;
    $scope.value = '';
    $scope.addPref = function(x){
    	const idx = $scope.names.indexOf(x);
    	$scope.names.splice(idx,1);
    	$scope.value += x + ' ';
    }
    $scope.clearPref = function()
    {
    	$scope.value = '';
    	$scope.names = ####;
    }
});
</script>
<!------------------------------->
</body>
</html>
